/* Seccion Diversos */
section.diversos {
    padding: 0 10%;
    margin-top: 3rem;
}

.diversos_contain {
    display: flex;
    justify-content: space-between;
}

.diversos_encabezado_link {
    display: flex;
    align-items: center;
}

.diversos_contain_prod {
    display: flex;
    justify-content: space-around;
}

.diversos_product {
    margin-right: 1rem;
}

.diversos_product_title {
    color: var(--col-gris);
    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.diversos_product_price {
    color: var(--col-gris);
    margin: 14px 0;
}

.diversos_product_link {
    color: var(--cor-azul);
    font-weight: 700;
}