/* Seccion Menu */
section.menu {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.menu_header {
    width: calc(100vw/3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_header_logo {
    height: 45px;
    margin-right: 1.5rem;
}

.menu_buscador {
    display: flex;
    background-color: #F5F5F5;
    width: calc(100vw/3);
    height: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: .2rem 0 .2rem .8rem;
}

.menu_buscador-lupa-btn {
    justify-content: flex-end;
    cursor: pointer;
    border: none;
    padding: 6px 15px 6px 15px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;

}

.menu_buscador-lupa-btn:hover {
    background-color: var(--col-rosa);
    transition: all .3s ease-in-out;

}

.menu_buscador_input {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Raleway';
    font-size: .9rem;
    width: 100%;
}

.menu_buscador-txt {
    font-weight: 200;
    font-size: small;
}

.menu_buscador-lupa {
    width: 20px;
}

.menu_conten {
    display: flex;
}

.menu_conten_btn {
    border: 1px solid;
    border-color: var(--col-azul);
    padding: .7rem 3.5rem;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 700;
    background-color: white;
    color: var(--cor-azul);
    cursor: pointer;
}

.menu_conten_btn:hover {
    border-color: var(--col-rosa);
    color: var(--col-rosa);
    transition: all .3s linear;
}

/* Seccion Añadir Producto */
section.addProducto {
}
.addProduc_container {
    height: calc(100vh - 93px);
    background-color: var(--col-grisDos);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addProduc_container_title{
    color: var(--col-gris);
}
.addProduc_container_form {
    font-family: 'Raleway';
    width: 50vw;
}
.addProduc_container_form-input,
.addProduc_container_form-ta {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.addProduc_container_form-input input {
    outline: none;
    padding: 0 .5rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    transition: all .3s linear;

}
.addProduc_container_form-input label {
    width: 18%;
    opacity: 50%;
    position: relative;
    bottom: 25px;
    left: 10px;
    font-size: .9rem;
    transition: all .3s ease-in-out;
}
.addProduc_container_form-input input:focus~label {
    bottom: 35px;
    font-size: .6rem;
}
.addProduc_container_form-input input:focus {
    border-bottom: 2px solid var(--cor-azul);
}

.addProduc_container_form-ta label  {
    width: 22%;
    opacity: 50%;
    position: relative;
    bottom: 100px;
    left: 10px;
    font-size: .9rem;
    transition: all .3s ease-in-out;

}
.addProduc_container_form-ta textarea:focus~label {
    bottom: 110px ;
    font-size: .6rem;
}

.addProduc_container_form-ta textarea {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1rem .5rem;
    resize: none;
    font-family: 'Raleway';
    height: 5rem;
    transition: all .3s ease-in-out;
}
.addProduc_container_form-ta textarea:focus {
    border-bottom: 2px solid var(--cor-azul);
}

.addProduc_container_form-btn {
    width: 100%;
    background-color: var(--cor-azul);
    border: none;
    padding: 1rem;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

/* Seccion Informacion */
section.info {
    padding: 0 10%;
    background-color: var(--col-rosaDos);
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.info_container {
    display: flex;
    justify-content: space-between;
}

.info_container_logo {
    margin-top: 3rem;
}

.info_container_logo img {
    width: 10rem;
}

.info_container_atributes-txt {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.info_container_form {
    width: 50%;
}

.info_container_form_title {
    color: var(--col-gris);
    margin: 14px 0;
}

.info_container_form-label {
    position: relative;
    bottom: 45px;
    left: 10px;
    opacity: 50%;
    transform: top .3s;
    transition: 0.2s all ease-in-out;
}
.info_container_form-label-ta {
    position: relative;
    bottom: 100px;
    left: 10px;
    opacity: 50%;
    transform: top .3s;
    transition: 0.2s all ease-in-out;
}
.info_container_form-input:focus {
    border-bottom: 3px solid var(--col-rosa);
}
.info_container_form-textarea:focus {
    border-bottom: 3px solid var(--col-rosa);
}
.info_container_form-form input:focus~label {
    font-size: 0.7rem;
    bottom: 60px;
}
.info_container_form-form textarea:focus~label {
    font-size: 0.7rem;
    bottom: 113px;
}

.info_container_form-input {
    outline: none;
    height: 2.5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #00000050;
    margin-bottom: 1rem;
    font-family: 'Raleway';
    font-size: 1rem;
    padding: .2rem .8rem;
    border-radius: 5px;
    transition: all .5s linear;
}

.info_container_form-textarea {
    outline: none;
    height: 4rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #00000050;
    margin-bottom: 1rem;
    font-family: 'Raleway';
    font-size: 1rem;
    resize: none;
    padding: 1rem .8rem;
    border-radius: 5px;
    transition: all .5s linear;
}

/* Seccion Footer */
section.footer {
    padding: 1.2rem 0;
    background-color: var(--col-rosa);
}

.footer_container {
    text-align: center;
    color: white;
}

.footer_container h3,
.footer_container h4 {
    margin: 10px;
}

.footer_container h3 {
    font-weight: 500;
    font-size: 1rem;
}

.footer_container h4 {
    font-weight: 100;
    font-size: .85rem;
}