/* Seccion Prodcucto */
section.productos {
    padding: 0 10%;
    padding-top: 3rem;
    padding-bottom: 7rem;
    background-color: var(--col-grisDos);
}

.productos_contain_encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productos_encabezado_title {
    color: var(--col-gris);
    font-size: 2rem;
}

.productos_encabezado_btn {
    border: none;
    padding: 1rem 2.5rem;
    background-color: var(--col-rosa);
    border-radius: 5px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.productos_contain_prod {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
.productos_product {
    margin-right: .8rem;
}

.productos_product-iconos {
    display: flex;
    justify-content: flex-end;
}
.productos_product-icon-btn{
    background-color: transparent;
    width: 2rem;
    border: none;
    cursor: pointer;
    z-index: 999;
    position: relative;
    top: 2rem
}
.productos_product-icon {
    width: 18px;
    margin-right: .6rem;
    position: relative;
    top: 37px;
    background-color: var(--col-rosa);
    padding: 2.5px;
    border-radius: 3px;
}
.productos_product-icon-del {
    width: 18px;
    margin-right: .6rem;
    position: relative;
    top: 4px;
    left: -5px;
    background-color: var(--col-rosa);
    padding: 2.5px;
    border-radius: 3px;
}

.productos_product_title {
    color: var(--col-gris);
    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.productos_product_price {
    color: var(--col-gris);
    margin: 14px 0;
}

.productos_product_link {
    color: var(--cor-azul);
    font-weight: 700;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 768px) {
    section.productos {
        padding: 0 5%;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
    .productos_encabezado_title {
        font-size: 1.5rem;
    }
    .productos_encabezado_btn {
        padding: 1rem 1.8em;
    }
    .productos_product {
        margin-right: .3rem;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {
    section.productos {
        padding: 1rem 9% 3rem;
    }
    .productos_contain_encabezado {
        flex-direction: column;
        align-items: flex-start;
    }
    .productos_encabezado_title {
        font-size: 1.5rem;
    }
}