/* Seccion Consola */
section.consola {
    padding: 0 10%;
    margin-top: 3rem;
}

.consola_contain {
    display: flex;
    justify-content: space-between;
}

.consola_encabezado_link {
    display: flex;
    align-items: center;
}

.consola_conntain_prod {
    display: flex;
    justify-content: space-around;
}

.consola_product {
    margin-right: 1rem;
}

.consola_product_title {
    color: var(--col-gris);
    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
}

.consola_product_price {
    color: var(--col-gris);
    margin: 14px 0;
}

.consola_product_link {
    color: var(--cor-azul);
    font-weight: 700;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 768px) {
    section.consola {
        padding: 0 5%;
        margin-top: 1.5rem;
    }
    .consola_conntain_prod {
        justify-content: flex-start;
        overflow: hidden;
    }
    .consola_product {
        margin-right: 1.2rem;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {
    .consola_conntain_prod {
        flex-wrap: wrap;
        justify-content: center;
    }
    .consola_product {
        margin-top: 1.2rem;
    }
}