/* Seccion Footer */
section.footer {
    padding: 1.2rem 0;
    background-color: var(--col-rosa);
}

.footer_container {
    text-align: center;
    color: white;
}

.footer_container h3,
.footer_container h4 {
    margin: 10px;
}

.footer_container h3 {
    font-weight: 500;
    font-size: 1rem;
}

.footer_container h4 {
    font-weight: 100;
    font-size: .85rem;
}