/* Seccion Header */
section.banner {
    overflow: hidden;
}

.banner_contain {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 30vh;
    z-index: 99;
}

.banner_contain_title {
    color: white;
    font-size: 3.25rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 0px;
}

.banner_contain_subtitle {
    color: white;
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 15px 0;
}

.banner_contain_imagen {
    position: relative;
}

.banner_img {
    background: url('../../img/HeroDos.png') no-repeat center / cover;
    width: 100vw;
    height: 40vh;
    z-index: -99;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 768px) {
    .banner_contain {
        padding-left: 5%;
        padding-right: 5%;
    }
    .banner_contain_title {
        font-size: 2.5rem;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    .banner_contain_subtitle {
        font-size: 1.2rem;
        font-weight: 500;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {
    .banner_contain {
        top: 25vh;
    }
    .banner_contain_title {
        font-size: 1.7rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .banner_contain_subtitle {
        font-size: 1rem;
        margin: 7px;
    }.banner_img {
        width: 100vw;
        height: 30vh;
    }
}